.header {
    text-align:center;
    background-color:#47ecc0;
    padding: 10px 0;
    border-radius: 20px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-left: 50px;

}
table,
th,
td {
  border: 1px solid #e7e7e7;
}

  .project {
        background-color: #1c1c1c;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100vh;
      }